.btn {
    margin-top: 3rem;

    display: block;
    width: 9.33rem;
    height: 3rem;

    background: none;
    border: 2px solid #cfcfcf;

    font-family: $ff-OpenSans;
    font-size: 1rem;
    font-weight: 600;
    color: #cfcfcf;

    cursor: pointer;
    
    &--orange {
        margin-top: 20px;
        width: 8rem;

        border: none;
        border-radius: 3px;

        background: #ff8b38;
        color: #ffffff;
    }

        &:hover {

            background: none;
            border: 2px solid $orange;
            color: $orange;
    }

    &.active {
        border-radius: 0;

        background-color: $orange;
        border: 2px solid #cfcfcf;
        color: #cfcfcf;
    }

    
}
.btn--center {
    padding-bottom: 65px;
    display: flex;
    justify-content: center;
}

.btn--orange {
    margin: 40px  auto 80px;
    width: 145px;

    background-color: $orange;
    color: white;
    
    transition: color 0.2s linear, background-color 0.2s linear;

    &:hover {
        background-color:white;
        color: $orange;
        border: 2px solid $orange;
    }
}