.container {
    width: 100%;
    max-width: 1105px;
    
    margin: 0 auto;
}
.container--big {
    width: 100%;
    max-width: 1125px;

    margin: 0 auto;
}

.container--small {
    width: 100%;
    max-width: 1060px;
    
    margin: 0 auto;
}

